{% extends "LiveScore/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1>Clubs</h1>
    <ul>
        {% for club in object_list %}
            <li>{{ club.name }} - {{ club.bowClass }}</li>
        {% empty %}
            <li>this user doesnt manage any archers yet.</li>
        {% endfor %}
    </ul>

{% endblock %}

