{% extends "base.html" %}


{% block content %}
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save"/>
    </form>
    <p>end of club form</p>
{% endblock %}