{% extends "LiveScore/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.passkey }}</p>
    <p>{{ object.pk }}</p>
    <p>Date: {{ now|date }}</p>

{% endblock %}

{% block tMenu %}


{% endblock %}

{% block lMenu %}


{% endblock %}

{% block bMenu %}


{% endblock %}