{% extends "LiveScore/base.html" %}


{% block content %}
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            <th></th>
            <th>Place in Class</th>
            <th>Name</th>
            <th>Class</th>
            <th>Score</th>
            <th>Compensated Score</th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd gradeX">
            <td>1st</td>
            <td>1st</td>
            <td>Archer</td>
            <td>Recurve</td>
            <td class="center">387</td>
            <td class="center">387</td>
        </tr>
        <tr class="even gradeC">
            <td>2nd</td>
            <td>1st</td>
            <td>Bowman</td>
            <td>Bare bow</td>
            <td class="center">289</td>
            <td class="center">368</td>
        </tr>
        </tbody>
    </table>
    <!-- /.table-responsive -->

{% endblock %}