{% extends "LiveScore/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1>user Archers</h1>
    <ul>
        {% for archer in object_list %}
            <li>{{ archer.name }} - {{ archer.bowClass }}</li>
        {% empty %}
            <li>No Members yet.</li>
        {% endfor %}
    </ul>

{% endblock %}