<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form id="login-form" , method="post" , action="api/submitform">
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="pass" placeholder="Password">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            </form>

            <div class="login-help">
                <a href="#" data-toggle="modal" data-target="#login-modal, #register-modal">Register</a> or sign in as
                <a href="#" data-toggle="modal" id="guest-signin" data-target="#register-modal">guest</a> to see what
                its all about. - <a href="#" data-toggle="modal" data-target="#login-modal, #resetPW-modal">Forgot
                Password</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Register for an Account</h1><br>

            <div class="login-help">
                Sign up for an account to use this sites features, or sign in as <a href="#" data-toggle="modal"
                                                                                    id="guest-signin"
                                                                                    data-target="#register-modal">guest</a>
                to see what its all about.
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="resetPW-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Reset Password</h1><br>
            <form>
                <input type="text" name="email" placeholder="Email">
                <input type="submit" name="restPW" class="login loginmodal-submit" value="Reset">
            </form>

            <div class="login-help">
                Enter your email to reset password.
            </div>
        </div>
    </div>
</div>