{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}{% blocktrans %}
    Forgot your password?  Enter your email in the form below and we'll send you
    instructions for creating a new one.{% endblocktrans %}
    <form method='post' action=''>{% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <td></td>
                <td><input type='submit' value="{% trans "Reset password" %}"/></td>
            </tr>
        </table>
    </form>
{% endblock %}
