{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}
    <form method='post' action=''>{% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <td></td>
                <td><input type='submit' value="{% trans "Change password" %}"/></td>
            </tr>
        </table>
    </form>
{% endblock %}
