{% extends "LiveScore/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1>Club members</h1>
    <ul>
        {% for member in object_list %}
            <li>{{ member.username }} - {{ member.email }}</li>
        {% empty %}
            <li>No Members yet.</li>
        {% endfor %}
    </ul>

{% endblock %}