{% extends "LiveScore/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1>{{ object.username }}</h1>
    <p>{{ object.email }}</p>
    <p>{{ object.date_joined }}</p>
    <p>Date: {{ now|date }}</p>

{% endblock %}

